<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head")%>

<body>

    <%- include("../partials/header")%>

    <div class="container mt-5">
      <div class="row justify-content-center pb-5">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Mi Perfil</h3>
            </div>
            <div class="card-body">
              <form>
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre">
                </div>
                <div class="mb-3">
                  <label for="apellido" class="form-label">Apellido</label>
                  <input type="text" class="form-control" id="apellido" placeholder="Ingrese su apellido">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Correo Electrónico</label>
                  <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico">
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>



<%- include("../partials/footer")%>

</body>

</html>
