<header class="header">
    <div class="headerTop">
        <div class="logo">
            <a href="/"> <img src="/images/logo-luxuryDrinks2.webp" alt="Logo">
            </a>
        </div>

        <div class="search">
            <input class="busqueda" type="text" placeholder="Buscar Productos, marcas y más">
            <div class="lupa">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <div class="carrito">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>

        <% if (!locals.userLogin) {  %> 
          <div class="logreg">
            <button class="ing" type="button"><a href="/iniciar-sesion">Ingresa</a> </button>
            <button class="reg" type="button"><a href="/registrarse">Registrarse</a></button>
        </div>
       <% } else { %>
            <button class="ing" type="button"><a href="/perfil">Perfil</a> </button>
            <% } %>
       
    </div>
    <div class="headerBot">
        <nav class="navheader">
            <ul class="navheader-ul">
                <li class="navli"><a href=""></a>VINOS</li>
                <li class="navli"><a href=""></a>ESPUMANTES</li>
                <li class="navli"><a href=""></a>WHISKIES</li>
                <li class="navli"><a href=""></a>LICORES</li>
                <li class="navli"><a href=""></a>APERITIVOS</li>
                <li class="navli"><a href=""></a>OFERTAS</li>
                <li class="navli"><a href=""></a>OTROS</li>
            </ul>
        </nav>
    </div>
    <div class="burger-menu">
        <i class="fas fa-bars"></i>
    </div>
</header>