<footer class="home-footer">
    <figure>
        <img src="/images/Logo-footer.png" alt="Logo-footer">
    </figure>
    <nav class="links-footer">
        <ul type="none" class="footer-links">
            <li><a href="/">Inicio</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Productos</a></li>
            <li><a href="https://www.gba.gob.ar/Politicasdeprivacidad">Politicas de Privacidad</a></li>
        </ul>
    </nav>
    <div class="links-contacto">
        <ul type="none" class="footer-p">
            <li>
                <p>1202020202</p>
            </li>
            <li>
                <p>info@LuxuryDrik.com</p>
            </li>
            <li>
                <p>Calle 123 Palermo Capital</p>
            </li>
            <li>
                <p>Federal</p>
            </li>
        </ul>

        <nav class="links-footer-contacto">
            <div class="div-footer">
                <p>¿Hablamos?</p>
            </div>
            <ul type="none" class="footer-links">
                <li><a href="https://www.whatsapp.com/?lang=es_LA"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a href="https://www.facebook.com/?locale=es_LA"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-solid fa-envelope"></i> </a></li>
            </ul>
        </nav>

    </div>
    <p class="copy">Copyright 2023 © Luxury Drinks</p>


</footer>
