<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

  <body class="cart">
    <!-- encabezado -->
    <%- include('../partials/header') %>

      <!-- principal -->
      <main class="container">

        <div class="row position-relative my-5">

          <div id="card-container" class="col-8">

            <!-- ... CARDS ... -->

          </div>

          <div class="card col-4 my-5 position-sticky" style="height:fit-content;top:20px">
            <div class="card-body my-2 d-flex flex-column gap-2">
              <button class="btn w-100 btn-danger" id="clear-cart">Vaciar Carrito</button>
              <button class="btn w-100 btn-success" id="btn-buy">Comprar</button>
              <a href="#" class="btn w-100 btn-dark">Seguir mirando</a>
              <div class="text-end fs-3">
                <span>
                  Total:
                </span>
                <output id="show-total">
                  0
                </output>
              </div>
            </div>
          </div>

        </div>
      </main>


      <%- include('../partials/footer') %>


      

  </body>

</html>