<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head")%>

<body class="cart-body">
    <%- include("../partials/header")%>

    <main class="cart-main">
        <section class="cart">
            <h1 class="cart-title">Mi Carrito de Compras (4)</h1>
            <article class="cart-product">
                <img class="cart-product-img" src="/images/anana_fizz_real.png" alt="">
                <h5 class="cart-product-title col-4 d-flex align-items-center">Anana Fizz Real</h5>
                <div class="product-buttons">
                    <div class="product-quantity">
                        <button class=" cart-product-plus"><i class="bi bi-plus-lg"></i></button>
                        <p class="cart-product-quantity">2</p>
                        <button class="cart-product-minus"><i class="bi bi-dash"></i></button>
                    </div>
                    <button class="cart-product-trash"><i class="bi bi-trash-fill"></i></i></button>
                </div>
                <div class="cart-product-price-container">
                    <p class="cart-product-price">$20.000</p>
                </div>
            </article>
            <article class="cart-product">
                <img class="cart-product-img" src="/images/anana_fizz_real.png" alt="">
                <h5 class="cart-product-title col-4 d-flex align-items-center">Anana Fizz Real</h5>
                <div class="product-buttons">
                    <div class="product-quantity">
                        <button class=" cart-product-plus"><i class="bi bi-plus-lg"></i></button>
                        <p class="cart-product-quantity">2</p>
                        <button class="cart-product-minus"><i class="bi bi-dash"></i></button>
                    </div>
                    <button class="cart-product-trash"><i class="bi bi-trash-fill"></i></i></button>
                </div>
                <div class="cart-product-price-container">
                    <p class="cart-product-price">$20.000</p>
                </div>
            </article>
            <article class="cart-product">
                <img class="cart-product-img" src="/images/anana_fizz_real.png" alt="">
                <h5 class="cart-product-title col-4 d-flex align-items-center">Anana Fizz Real</h5>
                <div class="product-buttons">
                    <div class="product-quantity">
                        <button class=" cart-product-plus"><i class="bi bi-plus-lg"></i></button>
                        <p class="cart-product-quantity">2</p>
                        <button class="cart-product-minus"><i class="bi bi-dash"></i></button>
                    </div>
                    <button class="cart-product-trash"><i class="bi bi-trash-fill"></i></i></button>
                </div>
                <div class="cart-product-price-container">
                    <p class="cart-product-price">$20.000</p>
                </div>
            </article>
            <article class="cart-product">
                <img class="cart-product-img" src="/images/anana_fizz_real.png" alt="">
                <h5 class="cart-product-title col-4 d-flex align-items-center">Anana Fizz Real</h5>
                <div class="product-buttons">
                    <div class="product-quantity">
                        <button class=" cart-product-plus"><i class="bi bi-plus-lg"></i></button>
                        <p class="cart-product-quantity">2</p>
                        <button class="cart-product-minus"><i class="bi bi-dash"></i></button>
                    </div>
                    <button class="cart-product-trash"><i class="bi bi-trash-fill"></i></i></button>
                </div>
                <div class="cart-product-price-container">
                    <p class="cart-product-price">$20.000</p>
                </div>
            </article>
            <article class="cart-product">
                <img class="cart-product-img" src="/images/anana_fizz_real.png" alt="">
                <h5 class="cart-product-title col-4 d-flex align-items-center">Anana Fizz Real</h5>
                <div class="product-buttons">
                    <div class="product-quantity">
                        <button class=" cart-product-plus"><i class="bi bi-plus-lg"></i></button>
                        <p class="cart-product-quantity">2</p>
                        <button class="cart-product-minus"><i class="bi bi-dash"></i></button>
                    </div>
                    <button class="cart-product-trash"><i class="bi bi-trash-fill"></i></i></button>
                </div>
                <div class="cart-product-price-container">
                    <p class="cart-product-price">$20.000</p>
                </div>
            </article>
            <article class="cart-product">
                <img class="cart-product-img" src="/images/anana_fizz_real.png" alt="">
                <h5 class="cart-product-title col-4 d-flex align-items-center">Anana Fizz Real</h5>
                <div class="product-buttons">
                    <div class="product-quantity">
                        <button class=" cart-product-plus"><i class="bi bi-plus-lg"></i></button>
                        <p class="cart-product-quantity">2</p>
                        <button class="cart-product-minus"><i class="bi bi-dash"></i></button>
                    </div>
                    <button class="cart-product-trash"><i class="bi bi-trash-fill"></i></i></button>
                </div>
                <div class="cart-product-price-container">
                    <p class="cart-product-price">$20.000</p>
                </div>
            </article>
        </section>
        <aside class="cart-resume">
            <div class="cart-resume-title">
                <div class="cart-resume-title-product">
                    <h6>Producto Nombre 1</h6>
                    <h6>Producto Nombre 1</h6>
                    <h6>Producto Nombre 1</h6>
                    <span class="borde-inferior"></span>
                </div>
                <p class="cart-resume-price"><span class="cart-resume-price-span-1">Total a Pagar: </span><span
                        class="cart-resume-price-span-2">$20000</span>
                </p>
            </div>
            <div class="cart-resume-button">
                <button class="cart-resume-button-comprar" type="button">Comprar</button>
            </div>
        </aside>

    </main>

    <%- include("../partials/footer")%>

    <%- include("../partials/scripts")%>

</body>

</html>