<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>
  <style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    input[type=number] {
      -moz-appearance: textfield;
    }

    .btn-clear {
      transition: background-color 200ms, color 200ms;
    }

    .btn-clear:hover {
      background-color: rgb(240, 184, 184);
      color: white;
    }
  </style>

  <body class="cart">
    <!-- encabezado -->
    <%- include('../partials/header') %>

      <!-- principal -->
      <main class="">

        <div class="row position-relative w-100">

          <div id="card-container" class="col-8 mx-2"></div>

          <div class="card col-3 my-5 position-sticky" style="height:fit-content;top:20px">
            <div class="card-body my-2 d-flex flex-column gap-2">
              <button class="btn w-100 btn-danger" id="clear-cart">Vaciar Carrito</button>
              <button class="btn w-100 btn-success" id="btn-buy">Comprar</button>
              <a href="/courses/list" class="btn w-100 btn-dark m-0">Seguir mirando</a>
              <div class="text-end fs-3" >
                <span >
                  Total: $
                </span>
                <output id="show-total">
                  0
                </output>
              </div>
            </div>
          </div>

        </div>
      </main>


      <%- include('../partials/footer') %>


        <%- include('../partials/scripts') %>

          
          <script src="/js/functions/cart.js"></script>

  </body>

</html>